<ion-content class="login-content">
    <ion-row class="logo-row">
      <ion-col>
        <img src="http://retail.shuffleandcut.com/uploads/2/6/3/1/26311569/1028185_orig.png"/>
      </ion-col>
    </ion-row>
    <div class="login-box">
      <form (ngSubmit)="login()" #registerForm="ngForm">
        <ion-row>
          <ion-col>
            <ion-list inset>
              <ion-item>
                  <ion-label> <ion-icon name="mail"></ion-icon></ion-label> 
                <ion-input type="text" placeholder="Email" name="email"required></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label> <ion-icon name="lock"></ion-icon></ion-label> 
                <ion-input type="password" placeholder="Password" name="password" required></ion-input>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
          <button ion-button full class="submit-btn"  type="submit" [disabled]="!registerForm.form.valid">Login</button>
          <button ion-button full class="register-btn"  >Create New Account</button>
      </form>
    </div>
  </ion-content>