<ion-header>
    <ion-navbar color=primary>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon> 
    </button>
    <ion-title>
      {{card?.name}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-content" padding>
  <ion-item class="card">
    <ion-row align="center">
      <ion-col col-8>
          <h2 class="card-title">{{ card?.name }}</h2>
      </ion-col>
      <ion-col col-4>
          <h2 class="card-title">N.{{ card?.number }}</h2> 
      </ion-col>
    </ion-row>
    <ion-row align="center" >
        <ion-col>
          <p [ngClass]='card?.rarity.replace(" ","").toLowerCase()'>{{ card?.rarity }}</p>
        </ion-col>
      </ion-row>
      <ion-row align="center">
        <ion-col col-2></ion-col>  
        <ion-col col-8>
            <img [src]="card?.imageUrl">
        </ion-col>
        <ion-col col-2></ion-col>  
      </ion-row>
      <ion-row>
        <ion-col>
          <p align="center">Type: {{ card?.type }}</p>
          <div class="stats"><span class="power">{{ card?.power }}</span>|<span class="health">{{ card?.toughness }}</span></div>
          <div text-wrap class="description">
            {{ card?.text }} 
          </div>
          <p align="right">made by {{ card?.artist }}</p>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
            <button ion-button icon-left clear small>
              <ion-icon name="thumbs-up"></ion-icon>
              <div>12 Likes</div>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button icon-left clear small>
              <ion-icon name="text"></ion-icon>
              <div>4 Comments</div>
            </button>
          </ion-col>
        </ion-row>
    </ion-item>
</ion-content>