<ion-menu [content]="content">

  <ion-header>
    <ion-toolbar color="primary" >
      <ion-title>Pages</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class= "menu-content">
    <ion-item>
        <ion-avatar item-start>
          <img [src]="user?.image">
        </ion-avatar>
        <h2>Welcome!</h2>
        <h4> {{user.name}} </h4>
    </ion-item> 
    <ion-list>
        <button ion-item details-flag *ngFor="let p of pages" (click)="openPage(p)" >  
            <ion-icon name="image"></ion-icon> {{p.title}} 
        </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
