// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
ion-menu {
    ::-webkit-scrollbar{ display:none; }
    .menu-content {
        background-image: url('http://1.bp.blogspot.com/-qNsm-eBlIIc/UGBEc8ez_3I/AAAAAAAACkI/Lri6_DYNXDg/s1600/antique_white_paper_texture_for_web.jpg');
    }
    .menu-content .item {
        background:transparent;
        color: color($colors,primaryFont);
        border-bottom:1px dashed #222;
        //border:none  !important;
    }
    .menu-content .item .item-inner {
        background-color: transparent;
        color: color($colors,primaryFont);
        border-bottom :0 px solid #222;
    }
    .menu-content .item button {
        background-color: transparent;  
    }

    .menu-content .item-complex .item-content, .dark .item-radio .item-content {
        background-color: transparent;
    }
       
    .menu-content h2,
    .menu-content h3,
    .menu-content h4 {
        color: color($colors,primary);
    }
    .menu-content p,
    .menu-content a {
        color: color($colors,primaryFont);
    }
}        
     
      