<ion-header>
  <ion-navbar color=primary>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon> 
    </button>
    <ion-title>
      Cards List
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="cards-content" padding>
  <ion-list>
    <ion-card class="card" *ngFor="let card of cards" (click)="goToDetails(card.id)">
        <ion-row>
            <ion-col col-4>
                <img [src]="card.imageUrl">
            </ion-col>
            <ion-col col-8 class="card-info">
                <h2 class="card-title">{{ card.name }}</h2>
                <p [ngClass]='card.rarity.replace(" ","").toLowerCase()'>{{ card.rarity }}</p>
                <p>Artist: {{card.artist}}</p> 
                <p>Type: {{ card.type }}</p>
                <div class="stats"><span class="power">{{ card.power }}</span>|<span class="health">{{ card.toughness }}</span></div>
            </ion-col>
          </ion-row> 
          <ion-row>
              <ion-col>
                <button ion-button icon-left clear small>
                  <ion-icon name="thumbs-up"></ion-icon>
                  <div>12 Likes</div>
                </button>
              </ion-col>
              <ion-col>
                <button ion-button icon-left clear small>
                  <ion-icon name="text"></ion-icon>
                  <div>4 Comments</div>
                </button>
              </ion-col>
            </ion-row>
      </ion-card>
  </ion-list>
  
</ion-content>


