page-cards {
    ::-webkit-scrollbar{
        display:none;
      }
    .cards-content  {
        background: color($colors,primaryBg);
        color: color($colors,primaryFont);
        
    }
    .card {
        background: color($colors,cards,base);
        background-image: url('http://1.bp.blogspot.com/-qNsm-eBlIIc/UGBEc8ez_3I/AAAAAAAACkI/Lri6_DYNXDg/s1600/antique_white_paper_texture_for_web.jpg');
        
        cursor: pointer;
        padding:3px;
        border-radius: 15px 0px 15px 0px;
        .common {
            color: #4b4b4b;
            font-weight: bold;
        }
        .uncommon {
            color: #2e6d2e;
            font-weight: bold;
        }
        .rare {
            color: #1f3c99;
            font-weight: bold;
        }
        .mythicrare {
            color: #b705c7;
            font-weight: bold;
        }
    }
    
    .card-info {
        color: color($colors,primaryFont);
        padding:10px 5px;
        
        p {
            color: color($colors,primaryFont);
            padding:1px 2px;
        }
        .card-title {
            font-weight: bold;
            color:color($colors,primary);
        }
        .stats {
            //background :color($colors,primary);
            padding:2px;
            text-align: right;
            position: absolute;
            bottom:5px;
            right: 10px;
            font-weight: bold;
            span {
                padding:3px;
            }
        }
    }
    .description {
        padding: 10px;
    }
    
}
